body {
  background-color: #fff;
  color: #ff5800;

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 10px;
}

.formulario {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.logo {
  width: 80vw;
  margin: 33px 0px;
}

p {
  display: flex;
  justify-content: center;
  color: #000;
  margin-top: 16vw;
}

button {
  background-color: #ff5800;
}

.logo-animation,
.home {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

}

.home {
  display: none;
  height: auto;
  background-color: white;
}

.logo {
  position: absolute;
  font-family: 'Love Ya Like A Sister', cursive;
  color: firebrick;
  font-size: 60px;
}

#logo {
  width: 100px;

}