body {
  background-color: #fff;
  color: #ff5800;

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 10px;
}

.formulario {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.logo {
  width: 80vw;
  margin: 33px 0px;
}

p {
  display: flex;
  justify-content: center;
  color: #000;
  margin-top: 16vw;
}

button {
  background-color: #ff5800;
}