body {
  background-color: #fff;
  color: #ff5800;
}

.formulario {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.logo {
  width: 62vw;
  margin: 36px 41px;
}

p {
  display: flex;
  justify-content: center;
  color: #000;
  margin-top: 16vw;
}

a {
  color: #ff5800;
}

button {
  background-color: #ff5800;
<<<<<<< HEAD
=======
  color: #fff;
>>>>>>> 6f2730662885c2bd597ac2d96aca406c7b8779d3
}

.logo-animation,
.home {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

}

.home {
  display: none;
  height: auto;
  background-color: white;
}

.logo {
  position: absolute;
  font-family: 'Love Ya Like A Sister', cursive;
  color: firebrick;
  font-size: 60px;
}

#logo {
  width: 100px;

<<<<<<< HEAD
=======
}

@media screen and (min-width: 576px) {
  .logo {

    margin: 33px 370px;
  }

>>>>>>> 6f2730662885c2bd597ac2d96aca406c7b8779d3
}