/*PAGINA HOME*/
body {
	margin: 0;
	padding: 0;
	font-family: 'Lato', sans-serif;
	width: 100vw;
	height: 100vh;
}

.logo {
	width: 200px;

}

.icon {
	width: 40px;
	height: 40px;
}

.box-color {
	background-color: #f8f9fa;
}

.box-post {
	border: 1px solid #eebe0d;
	margin: 15px;
	padding: 10px;
}


.navbar-toggler {
	border: none;
}

.box-color {
	background-color: #f8f9fa;
}

.box-post {
	border: 1px solid #eebe0d;
	margin: 15px;
	padding: 10px;
}

.icon-star {
	color: #ccc;
}

.icon-star:hover {
	color: #eebe0d;
}

.star {
	color: #eebe0d;
}

.user-name {
	text-align: center;
	background-color: #f7f7f7;
}


.btn-light {
	background-color: #eebe0d;
}

.btn-post {
	background-color: #ede7d3;
	color: #5e5e5e;
	border: none;
}

.button-feed {
	display: flex;
	align-items: baseline;
	flex-direction: column;
}

button {
	height: 35px;
}

.box-feed {
	display: flex;
	flex-direction: column;
}