body {
  background-color: #fff;
  color: #ff5800;
  margin: 0;
  padding: 0;
}

.formulario {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.logo_home {
  width: 62vw;
  margin: 36px 41px;
}

p {
  display: flex;
  justify-content: center;
  color: #000;
  margin-top: 16vw;
}

a {
  color: #ff5800;
}

button {
  background-color: #ff5800;
  color: #fff;
}

.logo-animation,
.home {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

}

.home {
  display: none;
  height: auto;
  background-color: white;
}

.logo {
  position: absolute;
  font-family: "Segoe UI", cursive;
  color: #FF5800;
  font-size: 60px;
}

#logo {
  width: 100px;

}

#box-logo {
  position: absolute;
  background-color: white;
  height: 1px;
  width: 1px;
  border: 4px solid #FFB414;
}

.box {
  height: 250px;
}

#box-img {
  height: auto;
  background-color: white;
}

.invite{
  color: #008C95;
  
}
