/*PAGINA HOME*/
body {
	margin: 0;
	padding: 0;
	font-family: 'Lato', sans-serif;
	width: 100vw;
	height: 100vh;
}

.logo {
	width: 200px;

}

.icon{
	width: 50px;
	height: 50px;
}

body#bg-body-home {
	background: #FFF;
}

.box-color {
	background-color: #f8f9fa;
}

.navbar-toggler {
	border: none;
}

.box {
	height: 350px;
}

.text {
	color: #008495;
}

.perfil {
	background-color: #fff3a0;
}