/*PAGINA HOME*/
body {
	margin: 0;
	padding: 0;
	font-family: 'Lato', sans-serif;
	width: 100vw;
	height: 100vh;
}

.logo {
	width: 200px;

}

.icon{
	width: 40px;
	height: 40px;
}

body#bg-body-home {
	background: #FFF;
}

.box {
	background-color: #fff3a0;
	border: 1px solid #eebe0d;
	margin: 15px;
	padding: 10px;
}

.ranking{
	color: #008C95;
}

.icon-medal{
	width: 10px;
}


